/* mobile first */
@media screen and (min-width: 576px) {
    /* la sidebar si allarga */
    .sidebar {
        flex-basis: 200px;
    }
    /* nella sidebar top compare testo icone nascosti*/
    .show-after {
        display: inline;
    }    
    /* compare la linea intermedia */
    hr {
        display: block;
    }


}
@media screen and (min-width: 768px) {
    /* si dispongono a lato le icone sezione favoriti */
    .favourite {
        flex-direction: row;
    }
    /* aumenta la dimensione tasti player */
    .player-top i {
        padding: 15px 20px;
    }
    .linebar.big-linebar {
         width: 200px;
    }
    .linebar.small-linebar {
        width: 120px;
    }
    /* sposta a dx la barra volume */
    .device {
        justify-content: flex-end;
        padding-right: 10px;
    }
}
@media screen and (min-width: 992px) {
    /* tutta la sezione del player zona artista si sposta a sinistra */
    .song {
        justify-content: flex-start;
        gap: 30px;
    }
    /* aumentano ancora leggermente tasti player */
    .linebar.big-linebar {
        width: 250px;
   }
   .linebar.small-linebar {
       width: 150px;
   }
    
}