/* custom properties */
:root {

}
/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* generics */
body {
    font-family: 'Montserrat';
}
.top-content {
    height:calc(100vh - 80px);
    overflow-y: auto;
    background-color: green;

    display: flex;
}
main{
    overflow-y: auto;
    flex-grow: 1;
    background-color: purple;
}
 main header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}
.sidebar {
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: lightcoral;
}
footer {
    height: 80px;
    background-color: goldenrod;
}
/* utils */


/* header */


/* main */


/* sidebar */

/* footer */