/* custom properties */
:root {

}
/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* generics */
body {
    font-family: 'Montserrat';
}
.top-bar {
    height:calc(100vh - 80px);
    overflow: auto;
    position: relative;
}
header {
    min-height: 80px;
    background-color: dodgerblue;
}
.sidebar {
    width: 60px;
    background-color: lightcoral;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.inner-bar {
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    right: 0;
}
.inner-wrapper {
    height: calc(100vh - 80px);
    overflow-y: auto;
}
main{
    min-height: 100px;
    background-color: purple;
}
footer {
    height: 80px;
    background-color: goldenrod;
}
/* utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */


/* main */


/* sidebar */

/* footer */